.login-bg
    height: 100vh
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
.login-window
    width: 100%
    max-width 280px
    background-color #fff
    padding 20px
    margin 0 10px
    border-radius: 3px
button 
    width 100%
